<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500"
    />
    <title>HTML Preview</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link rel="stylesheet" type="text/css" href="compiled-styles.css" />
  </head>
  <body style="margin: 0px">
    <!-- This only removes default margins in our renderer iframe, you may remove -->
    <div id="firejet-html-app">
      <div class="about-us-wrapper">
        <div class="about-us-about-us">
          <div class="about-us-rectangle"></div>
          <div class="about-us-t-ellipse">
            <object
              data="/assets/Ellipse1.svg"
              class="about-us-ellipse"
            ></object>
          </div>
          <div class="about-us-t-ellipse-1">
            <object
              data="/assets/Ellipse2.svg"
              class="about-us-ellipse-1"
            ></object>
          </div>
          <div class="about-us-t-ellipse-2">
            <object
              data="/assets/Ellipse3.svg"
              class="about-us-ellipse-2"
            ></object>
          </div>
          <div class="about-us-t-frame">
            <div class="about-us-wrapper-1">
              <div class="about-us-frame">
                <object
                  data="/assets/Ellipse4.svg"
                  class="about-us-ellipse-3"
                ></object>
                <div class="about-us-component">
                  <p>Помощь в выборе образа на каждый день</p>
                </div>
              </div>
            </div>
          </div>
          <div class="about-us-t-frame-1">
            <div class="about-us-wrapper-2">
              <div class="about-us-frame-1">
                <object
                  data="/assets/Ellipse5.svg"
                  class="about-us-ellipse-4"
                ></object>
                <div class="about-us-component-1">
                  <p>
                    Сокращение времени, используемого для продумывания деталей
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="about-us-t-frame-2">
            <div class="about-us-wrapper-3">
              <div class="about-us-frame-2">
                <object
                  data="/assets/Ellipse5.svg"
                  class="about-us-ellipse-5"
                ></object>
                <div class="about-us-component-2">
                  <p>Развитие/подкрепление уверенности в новых образах</p>
                </div>
              </div>
            </div>
          </div>
          <div class="about-us-tt-bg-rectangle">
            <div class="about-us-t-bg-rectangle">
              <div class="about-us-component-3">Цели</div>
            </div>
          </div>
          <div class="about-us-t">
            <div class="about-us-component-4">станьте лучшей версией себя!</div>
          </div>
          <div class="about-us-t-twinkle">
            <div class="about-us-twinkle">
              <span
                ><p>
                  twinkle - сайт, который поможет вам в создании своих образов.
                  у сайта есть 2 главные категории:
                </p>
                <p>
                  определение цветотип (с чего мы советуем начать) и виртуальный
                  гардероб. они помогут вам правильно сочетать одежду, по вашей
                  палитре цветов
                </p></span
              >
            </div>
          </div>
          <div class="about-us-t-about-us">
            <div class="about-us-about-us-1">About Us</div>
          </div>
          <div class="about-us-t-ellipse-3">
            <object
              data="/assets/Ellipse6.svg"
              class="about-us-ellipse-6"
            ></object>
          </div>
          <div class="about-us-t-ellipse-4">
            <object
              data="/assets/Ellipse7.svg"
              class="about-us-ellipse-7"
            ></object>
          </div>
          <div class="about-us-t-ellipse-5"></div>
          <div class="about-us-t-1">
            <div class="about-us-component-5"><p>Наш путь</p></div>
          </div>
          <div class="about-us-t-2">
            <div class="about-us-component-6">
              <p>Освобождение времени пользователя от обдумывания образа</p>
            </div>
          </div>
          <div class="about-us-t-ellipse-6">
            <object
              data="/assets/Ellipse8.svg"
              class="about-us-ellipse-8"
            ></object>
          </div>
          <div class="about-us-t-ellipse-7">
            <object
              data="/assets/Ellipse9.svg"
              class="about-us-ellipse-9"
            ></object>
          </div>
          <div class="about-us-t-ellipse-8">
            <object
              data="/assets/Ellipse10.svg"
              class="about-us-ellipse-10"
            ></object>
          </div>
          <div class="about-us-t-3">
            <div class="about-us-component-7">
              <span
                ><p class="about-us-para-7">Создание</p>
                <p class="about-us-para-8">сайта-помощника</p></span
              >
            </div>
          </div>
          <div class="about-us-t-4">
            <div class="about-us-component-8">
              <span
                ><p class="about-us-para-9">Помощь в организации</p>
                <p class="about-us-para-10">и сочетании</p></span
              >
            </div>
          </div>
          <div class="about-us-ttt-line-1tline-2tline-3bg-vector">
            <div class="about-us-tt-line-1tline-2tline-3bg-vector">
              <div class="about-us-t-line-1tline">
                <object
                  data="/assets/Line.svg"
                  class="about-us-line"
                ></object>
                <div class="about-us-t-line">
                  <object
                    data="/assets/Line1.svg"
                    class="about-us-line-1"
                  ></object>
                </div>
              </div>
              <div class="about-us-t-line-1">
                <object
                  data="/assets/Line2.svg"
                  class="about-us-line-2"
                ></object>
              </div>
            </div>
          </div>
          <div class="about-us-t-5">
            <div class="about-us-component-9">
              <p>Целый список готовых имиджей и куча свободного времени</p>
            </div>
          </div>
          <div class="about-us-t-rectangle">
            <div class="about-us-rectangle-1">
              <div class="about-us-twinkle-1">
                <span
                  ><p class="about-us-para-12">О TWINKLE</p>
                  <div class="about-us-spacer"></div>
                  <p>компания</p>
                  <p>контакты</p>
                  <p>политика конфиденциальности</p></span
                >
              </div>
              <div class="about-us-about-us-2">
                <span
                  ><p class="about-us-para-16">Продукт</p>
                  <div class="about-us-spacer-1"></div>
                  <p>about us</p>
                  <p>цели</p>
                  <p>наш путь</p>
                  <p>определение цветотипа</p>
                  <p>тест на цветотип</p>
                  <p>виртуальный гардероб</p></span
                >
              </div>
              <div class="about-us-t-twinkle-t20241368tphotoroom">
                <div class="about-us-twinkle">TWINKLE</div>
                <div class="about-us-t-6">
                  <div class="about-us-component-10">
                    <span
                      ><p>Проект 2024</p>
                      <p>ГБОУ Школа №1368</p></span
                    >
                  </div>
                </div>
                <div class="about-us-t-photoroom">
                  <img
                    src="/assets/photoroom.png"
                    loading="lazy"
                    class="about-us-photoroom"
                  />
                </div>
              </div>
              <div class="about-us-t-photoroom-1">
                <img
                  src="/assets/photoroom-1.png"
                  loading="lazy"
                  class="about-us-photoroom-1"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% block content %}
    {% endblock %}
  </body>
</html>