<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500"
    />
    <title>HTML Preview</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link rel="stylesheet" type="text/css" href="compiled-styles.css" />
  </head>
  <body style="margin: 0px">
    <!-- This only removes default margins in our renderer iframe, you may remove -->
    <div id="firejet-html-app">
      <div class="component-wrapper">
        <div class="component-component">
          <div class="component-tt-vector-10t1ttrectangle-90tvector-11tellipse-47tellipse-49trectangle-89tttttellipse-28t" >
            <div class="component-t-vector-10t1ttrectangle-90tvector-11tellipse-47tellipse-49trectangle" >
              <div class="component-t-rectangle">
                <div class="component-rectangle"></div>
              </div>
              <div class="component-t-vector">
                <object
                  data="/assets/Vector.svg"
                  class="component-vector"
                ></object>
              </div>
              <object
                data="/assets/Vector1.svg"
                class="component-vector-1"
              ></object>
              <div class="component-t">
                <div class="component-component-1">
                  <p>1.какой у вас натуральный цвет волос?</p>
                </div>
              </div>
              <div class="component-t-1">
                <div class="component-component-2">
                  <ol class="component-list">
                    <li class="component-para-1">
                      какой у вас основной цвет радужки?
                    </li>
                  </ol>
                </div>
              </div>
              <div class="component-t-ellipse">
                <object
                  data="/assets/Ellipse.svg"
                  class="component-ellipse"
                ></object>
              </div>
              <div class="component-t-ellipse-1">
                <object
                  data="/assets/Ellipse1.svg"
                  class="component-ellipse-1"
                ></object>
              </div>
              <div class="component-t-rectangle-1">
                <div class="component-rectangle-1">
                  <div class="component-twinkle">
                    <span
                      ><p class="component-para-2">О TWINKLE</p>
                      <div class="component-spacer"></div>
                      <p>компания</p>
                      <p>контакты</p>
                      <p>политика конфиденциальности</p></span
                    >
                  </div>
                  <div class="component-about-us">
                    <span
                      ><p class="component-para-6">Продукт</p>
                      <div class="component-spacer-1"></div>
                      <p>about us</p>
                      <p>цели</p>
                      <p>наш путь</p>
                      <p>определение цветотипа</p>
                      <p>тест на цветотип</p>
                      <p>виртуальный гардероб</p></span
                    >
                  </div>
                  <div class="component-t-twinkle-t20241368tphotoroom">
                    <div class="component-twinkle">TWINKLE</div>
                    <div class="component-t-2">
                      <div class="component-component-3">
                        <span
                          ><p>Проект 2024</p>
                          <p>ГБОУ Школа №1368</p></span
                        >
                      </div>
                    </div>
                    <div class="component-t-photoroom">
                      <img
                        src="/assets/photoroom.png"
                        loading="lazy"
                        class="component-photoroom"
                      />
                    </div>
                  </div>
                  <div class="component-t-photoroom-1">
                    <img
                      src="/assets/photoroom-1.png"
                      loading="lazy"
                      class="component-photoroom-1"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="component-ttttt-ellipse-28t">
              <div class="component-tttt-ellipse-28t">
                <div class="component-ttt-ellipse-28t">
                  <div class="component-tt-ellipse">
                    <div class="component-t-ellipse-2">
                      <object
                        data="/assets/Ellipse2.svg"
                        class="component-ellipse-2"
                      ></object>
                    </div>
                    <div class="component-component-4">
                      <p>
                        От среднего до темного цвета, практически черные,
                        золотисто-каштановые, теплые каштановые или цвета меди.
                      </p>
                    </div>
                  </div>
                  <div class="component-t-3">
                    <div class="component-component-5">
                      <ol class="component-list-1">
                        <li>Какого оттенка у вас кожа?</li>
                      </ol>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="component-t-4">
            <div class="component-component-6">тест на цветотип</div>
          </div>
          <div class="component-tttt-ellipse-29ttellipse">
            <div class="component-ttt-ellipse-29ttellipse">
              <div class="component-tt-ellipse-1">
                <div class="component-t-ellipse-3">
                  <object
                    data="/assets/Ellipse2.svg"
                    class="component-ellipse-3"
                  ></object>
                </div>
                <div class="component-component-7">
                  <p>
                    Пепельно-каштановые/светлые или золотисто-каштановые/светлые
                    волосы с проседью или бесцветные.
                  </p>
                </div>
              </div>
              <div class="component-tt-ellipse-2">
                <div class="component-t-ellipse-4">
                  <object
                    data="/assets/Ellipse2.svg"
                    class="component-ellipse-4"
                  ></object>
                </div>
                <div class="component-component-8">
                  <p>
                    Темно-пепельные или темно-русые, темный пепельный блондин
                    (но не со светлой кожей и глазами). Общее впечатление от
                    цвета волос – холодные, пепельные.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="component-ttt-ellipse">
            <div class="component-tt-ellipse-3">
              <div class="component-t-ellipse-5">
                <object
                  data="/assets/Ellipse2.svg"
                  class="component-ellipse-5"
                ></object>
              </div>
              <div class="component-component-9">
                <p>
                  Теплый или золотистый брюнет, золотисто-каштановые, рыжеватые,
                  светло-золотистые. Общее впечатление от цвета волос теплые, с
                  золотистым отливом.
                </p>
              </div>
            </div>
          </div>
          <div class="component-ttt-ellipse-1">
            <div class="component-tt-ellipse-4">
              <div class="component-t-ellipse-6">
                <object
                  data="/assets/Ellipse2.svg"
                  class="component-ellipse-6"
                ></object>
              </div>
              <div class="component-component-10">
                <p>
                  Светлые (пепельные или золотистые) от светлого до темно-русого
                  могут быть, как пепельные, так и золотистые, легко выцветают.
                </p>
              </div>
            </div>
          </div>
          <div class="component-tt-ellipse-5">
            <div class="component-t-ellipse-7">
              <object
                data="/assets/Ellipse2.svg"
                class="component-ellipse-7"
              ></object>
              <div class="component-component-11">
                <p>
                  Яркие, прозрачные глаза с голубым белком голубого, зеленого,
                  бирюзового, зелено-голубого, стального серого цвета.
                </p>
              </div>
            </div>
          </div>
          <div class="component-tttt-ellipse-36ttellipse">
            <div class="component-ttt-ellipse-36ttellipse">
              <div class="component-tt-ellipse-6">
                <div class="component-t-ellipse-8">
                  <object
                    data="/assets/Ellipse2.svg"
                    class="component-ellipse-8"
                  ></object>
                </div>
                <div class="component-component-12">
                  <p>
                    Средней яркости глаза. Цвета: прохладно-голубые,
                    зелено-голубые, серые, серо-голубые, карие, серо-карие.
                    Общее впечатление - холодные глаза.
                  </p>
                </div>
              </div>
              <div class="component-tt-ellipse-7">
                <div class="component-t-ellipse-9">
                  <object
                    data="/assets/Ellipse2.svg"
                    class="component-ellipse-9"
                  ></object>
                </div>
                <div class="component-component-13">
                  <p>
                    Неяркие глаза с желтыми теплыми вкраплениями в радужной
                    оболочке глаза. Цвета: зеленые, карие, темно-желтые,
                    золотисто-карие, темно-голубые или серо-голубые. Общее
                    впечатление – теплые глаза.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="component-ttt-ellipse-2">
            <div class="component-tt-ellipse-8">
              <div class="component-t-ellipse-10">
                <object
                  data="/assets/Ellipse2.svg"
                  class="component-ellipse-10"
                ></object>
              </div>
              <div class="component-component-14">
                <p>
                  Темно-коричневые, темно-каштановые, золотисто-каштановые,
                  черные, иссиня-черные.
                </p>
              </div>
            </div>
          </div>
          <div class="component-ttt-ellipse-3">
            <div class="component-tt-ellipse-9">
              <div class="component-t-ellipse-11">
                <object
                  data="/assets/Ellipse2.svg"
                  class="component-ellipse-11"
                ></object>
              </div>
              <div class="component-component-15">
                <p>
                  Светлые глаза голубого, серо-голубого, светло-карего,
                  зелено-голубого цвета.
                </p>
              </div>
            </div>
          </div>
          <div class="component-tt-ellipse-10">
            <div class="component-t-ellipse-12">
              <object
                data="/assets/Ellipse2.svg"
                class="component-ellipse-12"
              ></object>
              <div class="component-component-16">
                <p>
                  Темные глаза, карего и почти черного цвета, как спелые вишни.
                </p>
              </div>
            </div>
          </div>
          <div class="component-ttt-ellipse-4">
            <div class="component-tt-ellipse-11">
              <div class="component-t-ellipse-13">
                <object
                  data="/assets/Ellipse2.svg"
                  class="component-ellipse-13"
                ></object>
              </div>
              <div class="component-component-17">
                <p>
                  Светлая прозрачная, цвета слоновой кости, фарфоровая, бежевая,
                  у некоторых людей иногда бывает красноватая или золотистая.
                </p>
              </div>
            </div>
          </div>
          <div class="component-ttt-ellipse-5">
            <div class="component-tt-ellipse-12">
              <div class="component-t-ellipse-14">
                <object
                  data="/assets/Ellipse2.svg"
                  class="component-ellipse-14"
                ></object>
              </div>
              <div>Бесцветная, с краснотой.</div>
            </div>
          </div>
          <div class="component-tttt-ellipse-42ttellipse">
            <div class="component-ttt-ellipse-42ttellipse">
              <div class="component-tt-ellipse-13">
                <div class="component-t-ellipse-15">
                  <object
                    data="/assets/Ellipse2.svg"
                    class="component-ellipse-15"
                  ></object>
                </div>
                <div class="component-component-19">
                  <p>
                    С розовым оттенком, розово-бежевая, желтоватая с пепельными
                    веснушками. Общее впечатление от цвета кожи – холодная с
                    голубоватым подтоном.
                  </p>
                </div>
              </div>
              <div class="component-tt-ellipse-14">
                <div class="component-t-ellipse-16">
                  <object
                    data="/assets/Ellipse2.svg"
                    class="component-ellipse-16"
                  ></object>
                </div>
                <div class="component-component-20">
                  <p>
                    Золотисто-бежевая, цвета слоновой кости, очень бледная с
                    золотистыми веснушками. Общее впечатление от цвета кожи –
                    теплая с желтоватым отливом.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="component-ttt-ellipse-6">
            <div class="component-tt-ellipse-15">
              <div class="component-t-ellipse-17">
                <object
                  data="/assets/Ellipse2.svg"
                  class="component-ellipse-17"
                ></object>
              </div>
              <div class="component-component-21">
                <p>
                  Светлая, персиковая теплая или розовая холодная без веснушек.
                </p>
              </div>
            </div>
          </div>
          <div class="component-ttt-ellipse-7">
            <div class="component-tt-ellipse-16">
              <div class="component-t-ellipse-18">
                <object
                  data="/assets/Ellipse3.svg"
                  class="component-ellipse-18"
                ></object>
              </div>
              <div>Смуглая, желтая с оливковым оттенком</div>
            </div>
          </div>
          <div class="component-ttt-ellipse-8">
            <div class="component-tt-ellipse-17">
              <div class="component-t-ellipse-19">
                <object
                  data="/assets/Ellipse2.svg"
                  class="component-ellipse-19"
                ></object>
              </div>
              <div class="component-component-23">
                <p>
                  Не яркие глаза, светло-карие, от среднего до темно-карего,
                  зеленые, серо-голубые
                </p>
              </div>
            </div>

        </div>
          <div class="component-tt-rectangle-53tellipse">
            <div class="component-t-rectangle-53tellipse">
              <div class="component-t-ellipse-20">
                <object
                  data="/assets/Ellipse4.svg"
                  class="component-ellipse-20"
                ></object>
              </div>
              <div class="component-rectangle-2">
                <div class="component-t-black_on_trans_2_page">
                  <div class="component-component-24">загрузка</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>