<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500"
    />
    <title>HTML Preview</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link rel="stylesheet" type="text/css" href="compiled-styles.css" />
  </head>
  <body style="margin: 0px">
    <!-- This only removes default margins in our renderer iframe, you may remove -->
    <div id="firejet-html-app">
      <div class="component-wrapper">
        <div class="component-component">
          <div class="component-tttt-image-1tellipse">
            <div class="component-ttt-image-1tellipse">
              <div class="component-tt-image">
                <div class="component-t-image">
                  <img
                    src="/assets/image.png"
                    loading="lazy"
                    class="component-image"
                  />
                </div>
                <div class="component-component-1">
                  <p>
                    Пастельные тона идеально подходят для цветотипа Лето. Они
                    подчеркивают нежность и утонченность внешности, создавая
                    гармоничный и сбалансированный образ. Среди них
                    пудрово-розовый, лавандовый, мятный, персиковый. Холодные,
                    но не слишком яркие цвета прекрасно дополняют природные
                    особенности цветотипа Лето.
                  </p>
                </div>
              </div>
              <div class="component-t-ellipse">
                <object
                  data="/assets/Ellipse3.svg"
                  class="component-ellipse"
                ></object>
              </div>
            </div>
          </div>
          <div class="component-tt-ellipse-59t1tttellipse-60t">
            <div class="component-t-ellipse-59t1tttellipse-60t">
              <div class="component-t-ellipse-1">
                <object
                  data="/assets/Ellipse4.svg"
                  class="component-ellipse-1"
                ></object>
              </div>
              <object
                data="/assets/Ellipse5.svg"
                class="component-ellipse-2"
              ></object>
              <div class="component-t">
                <div class="component-component-2">лето</div>
              </div>
              <div class="component-t-1">
                <div class="component-component-3">
                  <p>
                    ЦВЕТА ОДЕЖДЫ: различные оттенки желтого, оливковый,
                    золотисто-бежевый, лососевый, нежно-голубой, бирюзовый,
                    васильковый, цвет мяты. Стилисты не рекомендуют носить
                    черный цвет в портретной зоне.
                  </p>
                </div>
              </div>
              <div class="component-t-2">
                <div>
                  <span
                    ><p>
                      Для лета характерны волосы, глаза и кожа с холодным
                      подтоном. «Летние» люди не любят загорать, ведь вместо
                      приятного багрянца они обретают болезненную красноту на
                      солнце.
                    </p>
                    <p>
                      При этом данный цветотип многогранный. Так,
                      женщина-представительница «светлого лета» выделяется за
                      счет светлой кожи с розовым подтоном — причем такой
                      прозрачной, что через нее хорошо просматриваются сосуды. У
                      тех, кто относятся к «натуральному лету», приглушенный
                      цвет волос, кожи и глаз — оттенки словно припыленные.
                    </p></span
                  >
                </div>
              </div>
              <div class="component-t-3">
                <img
                  src="/assets/component-5.jpeg"
                  loading="lazy"
                  class="component-component-5"
                />
              </div>
            </div>
          </div>
          <div class="component-ttt-ellipse-58t">
            <div class="component-tt-ellipse-58t">
              <div class="component-t-ellipse-2">
                <object
                  data="/assets/Ellipse6.svg"
                  class="component-ellipse-3"
                ></object>
              </div>
              <div class="component-t-4">
                <div class="component-component-6">основная палитра цветов</div>
              </div>
              <div class="component-component-7">
                <p>
                  Самый нежный и деликатный цветотип — из-за этой особенности
                  его часто путают с «летом» и «осенью». Для «весны» характерны
                  кремовая кожа с персиковым или розовым подтоном, золотистые,
                  льняные или каштановые волосы, прозрачно-голубые или зеленые
                  глаза.
                </p>
              </div>
            </div>
          </div>
          <div class="component-t-ellipse-3"></div>
          <div class="component-ttt-t33305bacff-386c-16718e-0f-8ff-80a-42f-21tttellipse" >
            <div class="component-tt-t33305bacff-386c-16718e-0f-8ff-80a-42f-21tttellipse" >
              <div class="component-t-ellipse-4">
                <object
                  data="/assets/Ellipse7.svg"
                  class="component-ellipse-4"
                ></object>
              </div>
              <div class="component-t-t33305bacff-386c-16718e-0f-8ff-80a-42f-21tt" >
                <div class="component-t-33305bacff-386c-16718e-0f-8ff-80a-42f">
                  <img
                    src="/assets/bacff-386c-16718e-0f-8ff-80a-42f.jpeg"
                    loading="lazy"
                    class="component-bacff-386c-16718e-0f-8ff-80a-42f"
                  />
                </div>
                <div class="component-tt">
                  <div class="component-component-8">
                    <p>
                      <span class="component-text">главные цвета</span>:Яркие,
                      холодные и оттенки от пастельных до насыщенных и
                      глубоких: холодный голубой, ярко-синий, фиолетовый,
                      фуксия, серебро, серо-стальной, цвета кофе, горького
                      шоколада, темной вишни, яркой малины и бордо.
                    </p>
                  </div>
                  <div class="component-component-9">весна</div>
                </div>
              </div>
            </div>
          </div>
          <div class="component-ttttt-rectangle-42ttrectangle-trectangle-43tvector-3ellipse-15ttttttt1ttt1tttt1tt1ttt" >
            <div class="component-tttt-rectangle-42ttrectangle-trectangle-43tvector-3ellipse-15ttttttt1ttt1tttt1tt1tt" >
              <div class="component-ttt-rectangle-42ttrectangle-trectangle-43tvector-3ellipse" >
                <div class="component-tt-rectangle-42ttrectangle-trectangle-43tvector-3ellipse" >
                  <div class="component-t-5">
                    <div class="component-component-10"></div>
                  </div>
                  <div class="component-t-rectangle">
                    <div class="component-rectangle">
                      <div class="component-component-11">
                        <p>
                          <span class="component-text-1">Цветотип </span>-
                          Важная составляющая в области стиля, с помощью него
                          человек может подчеркнуть свои достоинства
                        </p>
                      </div>
                      <div class="component-component-12">
                        <p>первый шаг: определите свой цветотип</p>
                      </div>
                    </div>
                  </div>
                  <object
                    data="/assets/Ellipse8.svg"
                    class="component-ellipse-5"
                  ></object>
                  <div class="component-t-rectangle-1">
                    <div class="component-rectangle-1"></div>
                  </div>
                  <div class="component-t-vector">
                    <object
                      data="/assets/Vector.svg"
                      class="component-vector"
                    ></object>
                  </div>
                  <div class="component-t-rectangle-2">
                    <div class="component-rectangle-2"></div>
                  </div>
                </div>
              </div>
              <div class="component-tttttt-t1ttt1tttt1tt1tt">
                <div class="component-tttt-t1ttt1tttt1tt1tt">
                  <div class="component-ttt-t1ttt">
                    <div class="component-tt-t1ttt">
                      <div class="component-t-t1">
                        <div class="component-t-6">
                          <div class="component-component-13">лето</div>
                        </div>
                        <img
                          src="/assets/component-14.jpeg"
                          loading="lazy"
                          class="component-component-14"
                        />
                      </div>
                      <div class="component-ttt">
                        <div class="component-t-t2">
                          <div class="component-component-15">зима</div>
                        </div>
                        <img
                          src="/assets/component-16.jpeg"
                          loading="lazy"
                          class="component-component-16"
                        />
                      </div>
                    </div>
                    <div>холодные оттенки</div>
                  </div>
                  <div class="component-ttt-t1tt1tt">
                    <div class="component-tt-t1tt">
                      <div class="component-t-t3">
                        <div>весна</div>
                        <img
                          src="/assets/component-19.jpeg"
                          loading="lazy"
                          class="component-component-19"
                        />
                      </div>
                      <div class="component-t-t4">
                        <div class="component-component-20">осень</div>
                        <div class="component-component-21"></div>
                      </div>
                    </div>
                    <div class="component-component-22">теплые оттенки</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="component-t-7">
              <div class="component-component-23">
                <p>Существуют 4 цветотипа, олицетворяющие время года</p>
              </div>
            </div>
          </div>
          <div class="component-t-rectangle-3">
            <div class="component-rectangle-3">
              <div class="component-component-24">
                <p>
                  мы предлагаем вам пройти небольшой тест, чтобы быстро и легко
                  определить свой <span class="component-text-2">цветотип</span>
                </p>
              </div>
              <div class="component-component-25">
                <span
                  >пройти тест можно
                  <span class="component-text-3">тут[клик]</span></span
                >
              </div>
            </div>
          </div>
          <div class="component-t-fashion-fashion-fashion-fashion-fashion-fashion-fashion-fashion-fashion-fashion" >
            <div class="component-fashion-fashion-fashion-fashion-fashion-fashion-fashion-fashion-fashion-fashion" >
              <span
                >fashion fashion fashion fashion fashion&nbsp;fashion fashion
                fashion fashion fashion</span
              >
            </div>
          </div>
          <div class="component-tttt-t50tvector-12tttt">
            <div class="component-ttt-t50tvector-12tttt">
              <div class="component-tt-t50tvector-12tt">
                <div class="component-t-t50tvector-12t">
                  <div class="component-t-8">
                    <div class="component-component-26">
                      <p>
                        Если вы прошли наш тест(или когда то проходили до
                        этого), то поздравляем, теперь вы знаете свой цветотип и
                        50 % вашего образа вы уже составили
                      </p>
                    </div>
                  </div>
                  <div class="component-t-vector-12t">
                    <div class="component-t-9">
                      <div>
                        <span
                          ><p>
                            Для представителей этого типажа характерна высокая
                            контрастность. Кожа у них с голубоватым подтоном,
                            волосы темные, а их цвет варьируется от коричневых
                            до угольного. Глаза, как правило, карие, ореховые,
                            темно-синие, серо-зеленые.
                          </p>
                          <p>
                            Обычно к «зиме» приписывают только людей с бледной
                            кожей, но к этому же типажу можно отнести и смуглых.
                            Если у человека она оливковая, темная или тауповая —
                            серо-коричневая — то он тоже вписывается в данный
                            подвид.
                          </p></span
                        >
                      </div>
                    </div>
                    <object
                      data="/assets/Vector1.svg"
                      class="component-vector-1"
                    ></object>
                  </div>
                </div>
                <div class="component-t-10">
                  <div class="component-component-28">зима</div>
                </div>
              </div>
              <div class="component-t-t5">
                <div class="component-component-29">
                  <a href="https://www.figma.com/downloads/" >основная палитра цветов</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="component-t-11">
            <div class="component-component-30">основная палитра цветов</div>
          </div>
          <div class="component-t-ellipse-5"></div>
          <div class="component-ttttttt-ellipse">
            <div class="component-tttttt-ellipse">
              <div class="component-t-ellipse-6">
                <object
                  data="/assets/Ellipse9.svg"
                  class="component-ellipse-6"
                ></object>
              </div>
              <div class="component-tttt">
                <div class="component-t-t6">
                  <div class="component-component-31">осень</div>
                  <div class="component-component-32">
                    <span
                      ><p>
                        Людей, которые относятся к этому цветотипу, проще всего
                        определять. К «осенним» записывают почти всех рыжих и
                        шатенов с золотистым подтоном.
                      </p>
                      <p>
                        Кожа у представителей цветотипа «осень» с бронзовым
                        финишем, но румянца у них нет. А вот веснушки могут
                        появиться. Глаза, чаще всего, карие или зеленые с
                        ореховыми прожилками.
                      </p></span
                    >
                  </div>
                </div>
                <div class="component-component-33">
                  основная палитра цветов
                </div>
              </div>
            </div>
          </div>
          <div class="component-tt-vector-13timage-2ttttabout-us-twinkle-rectangle" >
            <div class="component-t-vector-13timage-2t">
              <object
                data="/assets/Vector2.svg"
                class="component-vector-2"
              ></object>
              <div class="component-t-image-1">
                <img
                  src="/assets/image-1.png"
                  loading="lazy"
                  class="component-image-1"
                />
              </div>
              <div class="component-t-12">
                <div class="component-component-34">
                  <span
                    ><p>Подходящие оттенки для «осени»</p>
                    <p>
                      Болотный, зеленовато-коричневый, хаки, Сапфировый синий,
                      цвет морской волны, насыщенный бирюзовый, Вся палитра
                      теплый красных оттенков, Кремовый, молочный и цвет
                      слоновой кости.
                    </p></span
                  >
                </div>
              </div>
            </div>
            <div class="component-t-t7">
              <div class="component-t-13">
                <div class="component-component-35">
                  <p>
                    определив и разобрав свой цветотип, вы можете приступить к
                    созданию своего образа в своем виртуальном гардеробе
                  </p>
                </div>
              </div>
            </div>
            <div class="component-t-about-us-twinkle-rectangle">
              <div class="component-rectangle-4">
                <div class="component-t-twinkle-t20241368tphotoroom">
                  <div class="component-twinkle">TWINKLE</div>
                  <div class="component-t-14">
                    <div class="component-component-36">
                      <span
                        ><p>Проект 2024</p>
                        <p>ГБОУ Школа №1368</p></span
                      >
                    </div>
                  </div>
                  <div class="component-t-photoroom">
                    <img
                      src="/assets/photoroom.png"
                      loading="lazy"
                      class="component-photoroom"
                    />
                  </div>
                </div>
                <div class="component-t-photoroom-1">
                  <img
                    src="/assets/photoroom-1.png"
                    loading="lazy"
                    class="component-photoroom-1"
                  />
                </div>
              </div>
              <div class="component-about-us">
                <span
                  ><p class="component-para-21">Продукт</p>
                  <div class="component-spacer"></div>
                  <p>about us</p>
                  <p>цели</p>
                  <p>наш путь</p>
                  <p>определение цветотипа</p>
                  <p>тест на цветотип</p>
                  <p>виртуальный гардероб</p></span
                >
              </div>
              <div class="component-twinkle">
                <span
                  ><p class="component-para-28">О TWINKLE</p>
                  <div class="component-spacer-1"></div>
                  <p>компания</p>
                  <p>контакты</p>
                  <p>политика конфиденциальности</p></span
                >
              </div>
            </div>
          </div>
          <div class="component-t-ellipse-7"></div>
        </div>
      </div>
    </div>
  </body>
</html>