<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500"
    />
    <title>HTML Preview</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link rel="stylesheet" type="text/css" href="compiled-styles.css" />
  </head>
  <body style="margin: 0px">
    <!-- This only removes default margins in our renderer iframe, you may remove -->
    <div id="firejet-html-app">
      <div class="component-wrapper">
        <div class="component-component">
          <div class="component-ttt-frame-2t1tt1t1tabout-us-twinkle-rectangle-89tttrectangle-91t" >
            <div class="component-tt-frame-2t1tt1t1tabout-us-twinkle-rectangle">
              <div class="component-t-frame-2t">
                <div class="component-wrapper-1">
                  <div class="component-frame">
                    <div class="component-ttt-twinkle-tellipse-8tellipse-4tellipse-2tellipse-9tvector" >
                      <div class="component-tt-twinkle-tellipse-8tellipse-4tellipse-2tellipse-9tvector" >
                        <div class="component-t-twinkle">
                          <div class="component-twinkle">Twinkle</div>
                        </div>
                        <div class="component-t">
                          <div class="component-component-1"></div>
                        </div>
                        <object
                          data="/assets/Vector.svg"
                          class="component-vector"
                        ></object>
                        <div class="component-t-ellipse">
                          <object
                            data="/assets/Ellipse1.svg"
                            class="component-ellipse"
                          ></object>
                        </div>
                        <div class="component-t-ellipse-1">
                          <object
                            data="/assets/Ellipse2.svg"
                            class="component-ellipse-1"
                          ></object>
                        </div>
                        <div class="component-t-ellipse-2">
                          <object
                            data="/assets/Ellipse3.svg"
                            class="component-ellipse-2"
                          ></object>
                        </div>
                        <div class="component-t-ellipse-3">
                          <object
                            data="/assets/Ellipse4.svg"
                            class="component-ellipse-3"
                          ></object>
                        </div>
                      </div>
                    </div>
                    <div class="component-t-elevate-your-style">
                      <div class="component-elevate-your-style">
                        Elevate your style
                      </div>
                    </div>
                    <div class="component-t-rectangle">
                      <div class="component-rectangle"></div>
                    </div>
                    <div class="component-t-rectangle-1">
                      <div class="component-rectangle-1">
                        <div class="component-component-2">поиск...</div>
                        <div class="component-search_"></div>
                      </div>
                    </div>
                    <div class="component-ttt-hanger_114150351thuman_7047977photoroom-1menu" >
                      <div class="component-tt-hanger_114150351thuman_7047977photoroom-1menu" >
                        <div class="component-t-hanger_">
                          <img
                            src="/assets/hanger_.png"
                            loading="lazy"
                            class="component-hanger_"
                          />
                        </div>
                        <div class="component-t-human_7047977photoroom">
                          <img
                            src="/assets/human_7047977photoroom.png"
                            loading="lazy"
                            class="component-human_7047977photoroom"
                          />
                        </div>
                        <div class="component-menu"></div>
                      </div>
                    </div>
                    <div class="component-tt-black_on_trans_2_page-00011tellipse-5tellipse-1tellipse" >
                      <div class="component-t-black_on_trans_2_page-00011tellipse-5tellipse-1tellipse" >
                        <div class="component-black_on_trans_2_page"></div>
                        <div>
                          <object
                            data="/assets/Ellipse5.svg"
                            class="component-ellipse-4"
                          ></object>
                          <div class="component-t-ellipse-4">
                            <object
                              data="/assets/Ellipse6.svg"
                              class="component-ellipse-5"
                            ></object>
                          </div>
                          <div class="component-t-ellipse-5">
                            <object
                              data="/assets/Ellipse7.svg"
                              class="component-ellipse-6"
                            ></object>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="component-t-ellipse-6"></div>
                  </div>
                </div>
                <div class="component-t-1">
                  <img
                    src="/assets/component-14.jpeg"
                    loading="lazy"
                    class="component-component-3"
                  />
                </div>
              </div>
              <div class="component-t-t1t">
                <div class="component-t-1t">
                  <img
                    src="/assets/component-4.jpeg"
                    loading="lazy"
                    class="component-component-4"
                  />
                  <div class="component-t-2">
                    <div class="component-component-5"></div>
                  </div>
                </div>
              </div>
              <div class="component-t-about-us-twinkle-rectangle">
                <div class="component-rectangle-2">
                  <div class="component-t-twinkle-t20241368tphotoroom">
                    <div class="component-twinkle">TWINKLE</div>
                    <div class="component-t-3">
                      <div class="component-component-6">
                        <span
                          ><p>Проект 2024</p>
                          <p>ГБОУ Школа №1368</p></span
                        >
                      </div>
                    </div>
                    <div class="component-t-photoroom">
                      <img
                        src="/assets/photoroom.png"
                        loading="lazy"
                        class="component-photoroom"
                      />
                    </div>
                  </div>
                  <div class="component-t-photoroom-1">
                    <img
                      src="/assets/photoroom-1.png"
                      loading="lazy"
                      class="component-photoroom-1"
                    />
                  </div>
                </div>
                <div class="component-about-us">
                  <span
                    ><p class="component-para-2">Продукт</p>
                    <div class="component-spacer"></div>
                    <p>about us</p>
                    <p>цели</p>
                    <p>наш путь</p>
                    <p>определение цветотипа</p>
                    <p>тест на цветотип</p>
                    <p>виртуальный гардероб</p></span
                  >
                </div>
                <div class="component-twinkle-1">
                  <span
                    ><p class="component-para-9">О TWINKLE</p>
                    <div class="component-spacer-1"></div>
                    <p>компания</p>
                    <p>контакты</p>
                    <p>политика конфиденциальности</p></span
                  >
                </div>
              </div>
            </div>
            <div class="component-ttt-rectangle-91t">
              <div class="component-tt-rectangle-91t">
                <div class="component-t-rectangle-2">
                  <div class="component-rectangle-3"></div>
                </div>
                <div class="component-t-4">
                  <div class="component-component-7">
                    <span
                      ><p>создавайте свои образы</p>
                      <p>в нашем виртуальном гардеробе</p></span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="component-ttt-t1t1t1t2t">
            <div class="component-tt-t1t1t1t2t">
              <div class="component-t-t1t1t1t2t">
                <div class="component-component-8"></div>
                <div class="component-t-5">
                  <div class="component-component-9">
                    <img
                      src="/assets/component-15.jpeg"
                      loading="lazy"
                      class="component-component-10"
                    />
                  </div>
                </div>
                <div class="component-t-6">
                  <div class="component-component-11">
                    <img
                      src="/assets/component-12.jpeg"
                      loading="lazy"
                      class="component-component-12"
                    />
                  </div>
                </div>
                <div class="component-t-7">
                  <img
                    src="/assets/component-13.jpeg"
                    loading="lazy"
                    class="component-component-13"
                  />
                </div>
                <div class="component-t-8">
                  <img
                    src="/assets/component-14.jpeg"
                    loading="lazy"
                    class="component-component-14"
                  />
                </div>
                <div class="component-t-9">
                  <div class="component-component-15"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static "my_site/css/index.css" %}" />
    <title>TWINKLE</title>
</head>
<body>
    <h1>Twinkle</h1>
    <img src="{% static "img/circl.img" %}" alt="Twinkle" >
</body>
</html>