<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500"
    />
    <title>HTML Preview</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link rel="stylesheet" type="text/css" href="compiled-styles.css" />
  </head>
  <body style="margin: 0px">
    <!-- This only removes default margins in our renderer iframe, you may remove -->
    <div id="firejet-html-app">
      <div class="component-component">
        <div class="component-t">
          <div class="component-component-1">
            <div class="component-component-2">регистрация</div>
            <div class="component-t-rectangle">
              <div class="component-component-3">почта</div>
            </div>
            <div class="component-component-4">пароль</div>
            <div class="component-t-rectangle-34rectangle">
              <div class="component-component-5">фамилия</div>
              <div class="component-rectangle">
                <div class="component-t-1"><div>имя</div></div>
              </div>
            </div>
            <div class="component-t-rectangle-1">
              <div class="component-component-7">ЗАРЕГиСТРИРОВАТЬСЯ</div>
            </div>
            <div class="component-ttt">
              <div class="component-t-2">
                <div class="component-component-8">уже зарегистрировались?</div>
                <div>войти</div>
              </div>
            </div>
          </div>
        </div>
        <div class="component-rectangle-1">
          <div class="component-twinkle">
            <span
              ><p class="component-para">О TWINKLE</p>
              <div class="component-spacer"></div>
              <p>компания</p>
              <p>контакты</p>
              <p>политика конфиденциальности</p></span
            >
          </div>
          <div class="component-about-us">
            <span
              ><p class="component-para-4">Продукт</p>
              <div class="component-spacer-1"></div>
              <p>about us</p>
              <p>цели</p>
              <p>наш путь</p>
              <p>определение цветотипа</p>
              <p>тест на цветотип</p>
              <p>виртуальный гардероб</p></span
            >
          </div>
          <div class="component-t-twinkle-t20241368tphotoroom">
            <div class="component-twinkle">TWINKLE</div>
            <div class="component-t-3">
              <div class="component-component-10">
                <span
                  ><p>Проект 2024</p>
                  <p>ГБОУ Школа №1368</p></span
                >
              </div>
            </div>
            <div class="component-t-photoroom">
              <img
                src="/assets/photoroom.png"
                loading="lazy"
                class="component-photoroom"
              />
            </div>
          </div>
          <div class="component-t-photoroom-1">
            <img
              src="/assets/photoroom-1.png"
              loading="lazy"
              class="component-photoroom-1"
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>