<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500"
    />
    <title>HTML Preview</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link rel="stylesheet" type="text/css" href="compiled-styles.css" />
  </head>
  <body style="margin: 0px">
    <!-- This only removes default margins in our renderer iframe, you may remove -->
    <div id="firejet-html-app">
      <div class="frame-wrapper">
        <div class="frame-frame">
          <div class="frame-twinkle">twinkle</div>
          <div class="frame-about-us">about us</div>
          <div class="frame-t"><div>определение цветотипа</div></div>
          <div class="frame-component-1">тест на цветотип</div>
          <div class="frame-component-2">виртуальный гардероб</div>
          <div class="frame-component-3">мой гардероб</div>
        </div>
      </div>
    </div>
  </body>
</html>