{% extends 'stylist/base.html' %}‍
‍
{% block title %}Мои образы{% endblock %}‍
‍
{% block content %}‍
<h1 class="text-center">Мои образы</h1>‍
<div class="row">‍
    {% for outfit in outfits %}‍
        <div class="col-md-4 mb-4">‍
            <div class="card shadow-sm">‍
                <div class="card-body">
                    <h5 class="card-title">{{ outfit.name }}</h5>
                    <ul class="list-group list-group-flush">
                        {% for item in outfit.items.all %}
                            <li class="list-group-item d-flex align-items-center">
                                <img src="{{ item.image.url }}" alt="{{ item.name }}" class="me-3" style="width: 50px; height: auto;">
                                {{ item.name }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

