<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500"
    />
    <title>HTML Preview</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link rel="stylesheet" type="text/css" href="compiled-styles.css" />
  </head>
  <body style="margin: 0px">
    <!-- This only removes default margins in our renderer iframe, you may remove -->
    <div id="firejet-html-app">
      <div class="component-component">
        <div class="component-tttt-frame-22trectangle-65trectangle-80trectangle-75tttrectangle-62rectangle-79rectangle-74tttrectangle-81rectangle-82rectangle-83tframe-19ttrectangle-88rectangle-87trectangle-86rectangle-85rectangle" >
          <div class="component-ttt-frame-22trectangle-65trectangle-80trectangle" >
            <div class="component-tt-frame-22trectangle-65trectangle-80trectangle" >
              <div class="component-t-frame-22trectangle-65trectangle">
                <div class="component-wrapper">
                  <div class="component-frame">
                    <div class="component-t-rectangle-56rectangle-64rectangle">
                      <div class="component-rectangle"></div>
                      <div class="component-rectangle-1"></div>
                      <div class="component-rectangle-2"></div>
                    </div>
                    <div class="component-t-rectangle-55rectangle-63rectangle">
                      <div class="component-rectangle-3"></div>
                      <div class="component-rectangle-4"></div>
                      <div class="component-rectangle-5"></div>
                    </div>
                  </div>
                </div>
                <div class="component-t-rectangle">
                  <div class="component-rectangle-6"></div>
                </div>
                <div class="component-t-rectangle-1">
                  <div class="component-rectangle-7"></div>
                </div>
              </div>
              <div class="component-t-rectangle-2">
                <div class="component-rectangle-8"></div>
              </div>
            </div>
          </div>
          <div class="component-ttt-rectangle-62rectangle-79rectangle">
            <div class="component-tt-rectangle-62rectangle-79rectangle">
              <div>
                <div class="component-rectangle-9"></div>
                <div class="component-rectangle-10"></div>
              </div>
              <div class="component-rectangle-11"></div>
            </div>
          </div>
          <div class="component-ttt-rectangle-81rectangle-82rectangle">
            <div class="component-tt-rectangle-81rectangle-82rectangle">
              <div>
                <div class="component-rectangle-12"></div>
                <div class="component-rectangle-13"></div>
              </div>
              <div class="component-rectangle-14"></div>
            </div>
          </div>
          <div class="component-t-frame-19ttrectangle-88rectangle-87trectangle-86rectangle-85rectangle" >
            <div class="component-frame-1">
              <div class="component-t-rectangle-54rectangle">
                <div class="component-rectangle-15"></div>
                <div class="component-rectangle-16"></div>
              </div>
              <div class="component-t-rectangle-59rectangle">
                <div class="component-rectangle-17"></div>
                <div class="component-rectangle-18"></div>
              </div>
              <div class="component-t-rectangle-68rectangle">
                <div class="component-rectangle-19"></div>
                <div class="component-rectangle-20"></div>
              </div>
              <div class="component-t-rectangle-71rectangle">
                <div class="component-rectangle-21"></div>
                <div class="component-rectangle-22"></div>
              </div>
              <div class="component-tt-rectangle-78trectangle">
                <div class="component-t-rectangle-3">
                  <div class="component-rectangle-23"></div>
                </div>
                <div class="component-t-rectangle-4">
                  <div class="component-rectangle-24"></div>
                </div>
              </div>
            </div>
            <div class="component-tt-rectangle-88rectangle-87trectangle-86rectangle-85rectangle" >
              <div class="component-t-rectangle-88rectangle-87trectangle-86rectangle-85rectangle" >
                <div class="component-rectangle-25"></div>
                <div class="component-rectangle-26"></div>
                <div class="component-t-rectangle-86rectangle">
                  <div class="component-rectangle-27"></div>
                  <div class="component-rectangle-28"></div>
                </div>
                <div class="component-rectangle-29"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>