<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500"
    />
    <title>HTML Preview</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link rel="stylesheet" type="text/css" href="compiled-styles.css" />
  </head>
  <body style="margin: 0px">
    <!-- This only removes default margins in our renderer iframe, you may remove -->
    <div id="firejet-html-app">
      <div class="component-wrapper">
        <div class="component-component">
          <div class="component-frame">
            <div class="component-t-vector"></div>
            <div class="component-tt-rectangle-7rectangle">
              <div class="component-t-rectangle-7rectangle">
                <div class="component-rectangle">
                  <div class="component-t">
                    <div class="component-component-1">
                      <p>
                        здесь вы можете создавать свои образы, добавляя одежду,
                        которая вам нравится
                      </p>
                    </div>
                  </div>
                </div>
                <div class="component-rectangle-1">
                  <div class="component-component-2">для мужчин</div>
                  <div>для женщин</div>
                </div>
              </div>
            </div>
            <div class="component-t-1">
              <div class="component-component-4">виртуальный гардероб</div>
            </div>
          </div>
          <div class="component-ttttt-rectangle-9rectangle-14trectangle-12trectangle-10rectangle-13trectangle-11t1tttrectangle-15rectangle-18rectangle-16rectangle-29rectangle-27rectangle-25trectangle-19rectangle-17rectangle-30rectangle-28rectangle-26rectangle-24frame" >
            <div class="component-frame-1">
              <div class="component-t-ellipse"></div>
            </div>
            <div class="component-t-2">
              <div class="component-component-5">для мужчин</div>
            </div>
            <div class="component-t-3"></div>
            <div class="component-ttt-rectangle-9rectangle-14trectangle-12trectangle-10rectangle-13trectangle" >
              <div class="component-tt-rectangle-9rectangle-14trectangle-12trectangle-10rectangle-13trectangle" >
                <div class="component-t-rectangle-9rectangle-14trectangle">
                  <div class="component-rectangle-2"></div>
                  <div class="component-rectangle-3"></div>
                  <div class="component-t-rectangle">
                    <div class="component-rectangle-4"></div>
                  </div>
                </div>
                <div class="component-t-rectangle-10rectangle-13trectangle">
                  <div class="component-rectangle-5"></div>
                  <div class="component-rectangle-6"></div>
                  <div class="component-t-rectangle-1">
                    <div class="component-rectangle-7"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="component-ttt-rectangle-15rectangle-18rectangle-16rectangle-29rectangle-27rectangle-25trectangle-19rectangle-17rectangle-30rectangle-28rectangle-26rectangle" >
              <div class="component-tt-rectangle-15rectangle-18rectangle-16rectangle-29rectangle-27rectangle-25trectangle-19rectangle-17rectangle-30rectangle-28rectangle-26rectangle" >
                <div class="component-t-rectangle-15rectangle-18rectangle-16rectangle-29rectangle-27rectangle" >
                  <div class="component-rectangle-8"></div>
                  <div class="component-rectangle-9"></div>
                  <div class="component-rectangle-10"></div>
                  <div class="component-rectangle-11"></div>
                  <div class="component-rectangle-12"></div>
                  <div class="component-rectangle-13"></div>
                </div>
                <div class="component-t-rectangle-19rectangle-17rectangle-30rectangle-28rectangle-26rectangle" >
                  <div class="component-rectangle-14"></div>
                  <div class="component-rectangle-15"></div>
                  <div class="component-rectangle-16"></div>
                  <div class="component-rectangle-17"></div>
                  <div class="component-rectangle-18"></div>
                  <div class="component-rectangle-19"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="component-t-frame-11tframe-12rectangle">
            <div class="component-frame-2">
              <div class="component-ttttt-rectangle-9rectangle-14trectangle-12trectangle-10rectangle-13trectangle-11t21tttrectangle-15rectangle-18rectangle-16rectangle-29rectangle-27rectangle-25trectangle-19rectangle-17rectangle-30rectangle-28rectangle-26rectangle-24tellipse" >
                <div class="component-t-ellipse-1"></div>
                <div class="component-t-4">
                  <div class="component-component-6">для женщин</div>
                </div>
                <div class="component-t-5"></div>
                <div class="component-ttt-rectangle-9rectangle-14trectangle-12trectangle-10rectangle-13trectangle-1" >
                  <div class="component-tt-rectangle-9rectangle-14trectangle-12trectangle-10rectangle-13trectangle-1" >
                    <div class="component-t-rectangle-9rectangle-14trectangle-1" >
                      <div class="component-rectangle-20"></div>
                      <div class="component-rectangle-21"></div>
                      <div class="component-t-rectangle-2">
                        <div class="component-rectangle-22"></div>
                      </div>
                    </div>
                    <div class="component-t-rectangle-10rectangle-13trectangle-1" >
                      <div class="component-rectangle-23"></div>
                      <div class="component-rectangle-24"></div>
                      <div class="component-t-rectangle-3">
                        <div class="component-rectangle-25"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="component-ttt-rectangle-15rectangle-18rectangle-16rectangle-29rectangle-27rectangle-25trectangle-19rectangle-17rectangle-30rectangle-28rectangle-26rectangle-1" >
                  <div class="component-tt-rectangle-15rectangle-18rectangle-16rectangle-29rectangle-27rectangle-25trectangle-19rectangle-17rectangle-30rectangle-28rectangle-26rectangle-1" >
                    <div class="component-t-rectangle-15rectangle-18rectangle-16rectangle-29rectangle-27rectangle-1" >
                      <div class="component-rectangle-26"></div>
                      <div class="component-rectangle-27"></div>
                      <div class="component-rectangle-28"></div>
                      <div class="component-rectangle-29"></div>
                      <div class="component-rectangle-30"></div>
                      <div class="component-rectangle-31"></div>
                    </div>
                    <div class="component-t-rectangle-19rectangle-17rectangle-30rectangle-28rectangle-26rectangle-1" >
                      <div class="component-rectangle-32"></div>
                      <div class="component-rectangle-33"></div>
                      <div class="component-rectangle-34"></div>
                      <div class="component-rectangle-35"></div>
                      <div class="component-rectangle-36"></div>
                      <div class="component-rectangle-37"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="component-t-frame">
              <div class="component-wrapper-1">
                <div class="component-frame-3">
                  <div class="component-component-7">мой гардероб</div>
                  <div class="component-component-8">
                    <p>
                      ДОБАВЛЯЙТЕ ОДЕЖДУ <span class="component-text">ТУТ</span>
                    </p>
                  </div>
                  <object
                    data="/assets/Ellipse2.svg"
                    class="component-ellipse"
                  ></object
                  ><object
                    data="/assets/Ellipse3.svg"
                    class="component-ellipse-1"
                  ></object>
                  <div class="component-t-rectangle-56rectangle-64rectangle">
                    <div class="component-rectangle-38"></div>
                    <div class="component-rectangle-39"></div>
                    <div class="component-rectangle-40">
                      <img
                        src="/assets/i.png"
                        loading="lazy"
                        class="component-i"
                      />
                    </div>
                  </div>
                  <div class="component-ttt-ellipse-51tgolden-classic-womens-dress-mockup-mannequin-3d-rendering_476612297341tellipse-50ttrectangle-55trectangle-56trectangle-55ttrectangle-63trectangle-64trectangle-63ttrectangle-72trectangle-73rectangle" >
                    <div class="component-tt-ellipse-51tgolden-classic-womens-dress-mockup-mannequin-3d-rendering_476612297341tellipse" >
                      <div class="component-t-ellipse-2">
                        <object
                          data="/assets/Ellipse4.svg"
                          class="component-ellipse-2"
                        ></object>
                      </div>
                      <div class="component-t-ellipse-51tgolden-classic-womens-dress-mockup-mannequin-3d-rendering_" >
                        <object
                          data="/assets/Ellipse5.svg"
                          class="component-ellipse-3"
                        ></object>
                        <div class="component-t-golden-classic-womens-dress-mockup-mannequin-3d-rendering_" >
                          <img
                            src="/assets/golden-classic-womens-dress-mockup-mannequin-3d-rendering_.png"
                            loading="lazy"
                            class="component-golden-classic-womens-dress-mockup-mannequin-3d-rendering_"
                          />
                        </div>
                      </div>
                    </div>
                    <div>
                      <div>
                        <div class="component-rectangle-41"></div>
                        <div class="component-t-rectangle-4">
                          <div class="component-rectangle-42"></div>
                        </div>
                      </div>
                      <div class="component-t-rectangle-55ttrectangle-63trectangle-64trectangle-63ttrectangle-72trectangle-73rectangle" >
                        <div class="component-rectangle-43"></div>
                        <div class="component-tt-rectangle-63trectangle-64trectangle-63ttrectangle-72trectangle-73rectangle" >
                          <div class="component-t-rectangle-63trectangle">
                            <div class="component-rectangle-44"></div>
                            <div class="component-t-rectangle-5">
                              <div class="component-rectangle-45"></div>
                            </div>
                          </div>
                          <div class="component-t-rectangle-63ttrectangle-72trectangle-73rectangle" >
                            <div class="component-rectangle-46"></div>
                            <div class="component-tt-rectangle-72trectangle-73rectangle" >
                              <div class="component-t-rectangle-72trectangle">
                                <div class="component-rectangle-47"></div>
                                <div class="component-t-rectangle-6">
                                  <div class="component-rectangle-48"></div>
                                </div>
                              </div>
                              <div class="component-rectangle-49"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="component-rectangle-50">
              <div class="component-twinkle">
                <span
                  ><p class="component-para-2">О TWINKLE</p>
                  <div class="component-spacer"></div>
                  <p>компания</p>
                  <p>контакты</p>
                  <p>политика конфиденциальности</p></span
                >
              </div>
              <div class="component-about-us">
                <span
                  ><p class="component-para-6">Продукт</p>
                  <div class="component-spacer-1"></div>
                  <p>about us</p>
                  <p>цели</p>
                  <p>наш путь</p>
                  <p>определение цветотипа</p>
                  <p>тест на цветотип</p>
                  <p>виртуальный гардероб</p></span
                >
              </div>
              <div class="component-t-twinkle-t20241368tphotoroom">
                <div class="component-twinkle">TWINKLE</div>
                <div class="component-t-6">
                  <div class="component-component-9">
                    <span
                      ><p>Проект 2024</p>
                      <p>ГБОУ Школа №1368</p></span
                    >
                  </div>
                </div>
                <div class="component-t-photoroom">
                  <img
                    src="/assets/photoroom.png"
                    loading="lazy"
                    class="component-photoroom"
                  />
                </div>
              </div>
              <div class="component-t-photoroom-1">
                <img
                  src="/assets/photoroom-1.png"
                  loading="lazy"
                  class="component-photoroom-1"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>