{% extends 'stylist/base.html' %}‍
‍
{% block title %}Виртуальная мастерская{% endblock %}‍
‍
{% block content %}‍
<h1 class="text-center">Виртуальная мастерская</h1>‍
<div class="row">‍
    <div class="col-md-8">‍
        <div class="canvas mx-auto shadow" id="canvas"></div>‍
    </div>‍
    <div class="col-md-4">‍
        <h3>Элементы одежды</h3>‍
        <div class="clothing-list d-flex flex-wrap gap-3">‍
            {% for item in clothing_items %}‍
                <div class="clothing-item card shadow-sm" data-id="{{ item.id }}">‍
                    <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}">‍
                    <div class="card-body text-center">‍
                        <p class="card-text">{{ item.name }}</p>‍
                    </div>‍
                </div>‍
            {% endfor %}‍
        </div>‍
    </div>‍
</div>‍
<form id="save-outfit-form" class="mt-4">‍
    <div class="mb-3">‍
        <input type="text" class="form-control" name="name" placeholder="Название образа" required>‍
    </div>‍
    <input type="hidden" name="items" id="selected-items">‍
    <button type="submit" class="btn btn-primary w-100">Сохранить образ</button>‍
</form>‍
{% endblock %}